<div class="apresentation">
    <div style="margin-left: 10px;">
        <h1>Apresentation</h1>
        <div *ngIf="users != undefined">
            <div *ngFor="let user of users">
                <div style="margin-top: 15px;">
                    <div class="userField">
                        <label>username:</label>
                        <div>{{user.name}}</div>
                    </div>
                    <div class="userField">
                        <label>password:</label>
                        <div>{{user.password}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>