<div class="apresentation">
    <div style="margin-left: 10px;">
        <h1>Apresentation</h1>
        <div *ngIf="users != undefined">
            <div *ngFor="let user of users">
                <div style="margin-top: 15px;">
                    <div class="userField">
                        <label>nickname:</label>
                        <div>{{user.nickName}}</div>
                    </div>
                    <div class="userField">
                        <label>email:</label>
                        <div>{{user.email}}</div>
                    </div>
                    <div class="userField">
                        <label>bornDate:</label>
                        <div>{{user.bornDate}}</div>
                    </div>
                </div>
            </div>
        </div>
        <button [routerLink]="['/']">homePage</button>
    </div>
</div>