#error{
    height: 100vh;
    width: 100vw;
}

#error span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100vw;
}

#error span h1 {
    padding: 0px;
    margin: 0px;
}

