
.homePage{
    height: 100vh;
    width: 100vw;
}

#title{
    height: 93vh;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title h2:nth-child(1){
    padding-bottom: 150px;
}

.auth{
    background-color: rgb(10, 206, 140);
    display: flex;
    width: 100vw;
    height: 7vh;
    justify-content: flex-end;
}

nav{
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button{
    height: 32px;
    width: 70px;
}

nav button:nth-child(2){
    margin-left: 10px;
}