<div class="homePage">
    <div class="auth">
        <button 
        style="border-radius: 100px; height: 40px; margin-top: 5px;" 
        [routerLink]="['main']">mainPage</button>
        <button 
        style="border-radius: 100px; height: 40px; margin: 5px 0px 0px 10px;" 
        [routerLink]="['apresentation']">apresentation</button>
        <nav>
            <button [routerLink]="['signIn']">SignIn</button>
            <button [routerLink]="['signUp']">SignUp</button>
        </nav>
    </div>
    <h2 id="title">
        <h2>Home Page</h2>
    </h2>
</div>

