<div class="signIn">
    <h4 class="title">SignIn</h4>
    <div>
        <div class="entrys">
            <label>email</label>
            <input [(ngModel)]="auth.email" >
        </div>
        <div class="entrys">
            <label>password</label>
            <input type="password" autocomplete="off" [(ngModel)]="auth.password" >
        </div>
    </div>
    <div style="margin-top: 10px; font-size: 15px; text-align: center;" [hidden]="error.enabled">
        <div *ngFor="let error of error.errors">
            <div>{{error}}</div>
        </div>
    </div>
    <div class="btn">
        <button [routerLink]="['']">cancel</button>
        <button (click)="validateUser()">confirm</button>
    </div>
</div>