.title{
    text-align: center;
    margin-top: 0px;
}

.signUp{
    background-color: blue;
    width: 260px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.entrys{
    display: flex;
    flex-direction: column;
}

.entrys input{
    width: 180px;
}

.btn {
    display: flex;
    width: 158px;
    justify-content: space-between;
    margin-top: 15px;
}

.btn button{
    width: 75px;
}